#dashboard{
    font-size: 1.65vw;
}

#BlockedAppsContent{
    height: 92%;
}

#halfs{
    display: flex;
    height: 93%;
}

#selectChild{
    height: 8%;
    border: 0px;
}

#appsList{
    padding-left: 1%;
    height: 100%;
    width: 50%;
    border-color: #4472C4;
    border-style: solid;
}

#appsList ul{
    list-style-type: none;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: auto;
    height: 70%;
}

#appsList h1{
    padding-left: 6%;
    margin-bottom: 5%
}

#appsList li{
    margin-top: 1%;
    background-color: rgb(127, 219, 255);
    border-color: aqua;
    border-style: solid;
    width: 80%;
}

.DeleteApp{
    color: red;
    font-weight: 900;
    margin-right: 2%;
}

#blockApp{
    background-color: #4472C4;
    width: 50%;
    height: 100%;
    padding-left: 10%;
}

h1{
    font-weight: bold;
}


#blockAppButton{
    margin-top: 0px;
    margin-left: 1vw;
    width: 30%;
    height: 20%;
    font-size: 100%;
}

#error{
    margin-top: 3%;
    margin-left: 1vw;
    font-size: 100%;
}