#Overview{
    float: left;
    display: flex;
}

#myChildren{
    width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

#myChildren p{
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}

#myChildren li{
    width: 100%;
}

#flexedChildren{
    display: block;
    padding-top: 5%;
    width: 100%;
    height: 90%;
}

#myChildrenTitle{
    height: 10%;
}

#childrenLeft{
    float: left;
    min-width: fit-content;
    width: 40%;
    max-width: 70%;
    height: 100%;
    padding-bottom: 1%;
}


#childrenLeft ul{
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 90%;
}

#childrenList{
    border-color: #4472C4;
    border-style: solid;
    border-width: 5px;
    border-radius: 3%;
    height: 100%;
}


.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5%;
  }

  #childrenOnInfo{
    width: 30%;
    height: 100%;
    float: right;
  }