#popularitySection{
    padding-left: 1%;
    padding-top: 1%;
}

#firstSteps li
{
    font-size: 95%;
    padding-bottom: 0.5%;
}

#firstSteps a{
    font-weight: 100;
}

#firstSteps label
{
    width: 100%;
    text-align: center;
    font-size: 120%;
}

#popularity table
{
    width: 100%;
    height: 100%;
    height: fit-content;
}

#popularity th, #appsHistoryTableDiv td {
    border-bottom: 1px solid #ddd;
    width: 10%;
    height: 10%;
}


#popularity tr:hover {
    background-color: rgb(211, 233, 233);
}
