#timeSpent{
    float: left;
    height: 100%;
    width: 90%;
}

#HoursGraph{
    padding-top: 5%;
    width: 100%;
    height: 100%;
}

.apexcharts-legend{
    height: 0px;
}

#chart{
    height: 100%;
}