html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div
{
  height: 100%;
}

.page{
  background-color: #4472C4;
}