#LoginPage{
    height: 90%;
    background-color: #4472C4;
    font-size: 1.65vw;
}

#Logo
{
    float: right;
    width: 60%;
    height: 100%;
}

/* The whole form */
#LoginForm
{
    padding-top: 10%;
    padding-left: 5%;
    width: 50%;
    font-size: 100%;
}


#RememberMe{
    margin-top: 5%;
}